.headingCart{
    text-align: center;
    margin-top:22px
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
    padding: 16px 34px;
}

.css-1nrlq1o-MuiFormControl-root{
    margin-left:20px !important

}