$border_color: black;

.folderContainer {
  border: 2px solid $border_color;
  width: 320px;

  padding: 4px;
}

.folderForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.folderImg {
  width: 15px;
  margin-right: 7px;
}

.rightMark {
  border: 2px solid $border_color;
  margin-left: 4px;
  margin-right: 4px;
}

.cancelMark {
  border: 2px solid $border_color;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
}
